* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

.container2 {
  height: 90vh !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  /* background-image: linear-gradient(#f2f2f2, #f2f2f2) !important; */
  background: white !important;
}

.form-area {
  width: 380px !important;
  /* height: 550px !important;; */
  padding: 40px 20px !important;
  margin: auto !important;
  background-color: #e9e4e0 !important;
  border-radius: 8px !important;
  /* padding-bottom: 40px !important;; */
}

.form-area .title {
  padding-bottom: 30px !important;
  font-size: 25px !important;
}

input[type="text"],
input[type="password"] {
  width: 100% !important;
  padding: 12px 20px !important;
  margin: 8px 0 !important;
  display: inline-block !important;
  border: 1px solid #ccc !important;
  box-sizing: border-box !important;
  border-radius: 5px !important;
}

input:focus {
  outline: none !important;
  border-color: #8f8f8f !important;
  box-shadow: 0 0 10px #949597 !important;
}

.form-area .fpass {
  text-align: right !important;
  padding-top: 16px !important;
  font-weight: 500 !important;
}

.form-area .fpass a {
  text-decoration: none !important;
  color: black !important;
}

.form-area button {
  width: 100% !important;
  text-align: center !important;
  margin-top: 20px !important;
  height: 40px !important;
  /* border-radius: 0% !important;; */
}

button {
  border-radius: 30px;
}
