<div class="container2">
    <div class="form-area">
        <form  #form="ngForm" (ngSubmit)="login(form)" >
            <div class="title">
                <span>Login</span>
            </div>
            <input name="email" ngModel type="text" placeholder="Email"><br>
            <input name="password" ngModel type="password" placeholder="Password">
            <div class="fpass">
                <a href="#">Forgot Password</a>
            </div>

            <button type="submit"    class="login">Login</button><br>
            <button type="button" (click)="gotoRegister()" class="register">Register</button>

        </form>
    </div>
</div>